<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Books & Authors</title>
</head>
<body>
    <div class="container">
        <header>
            <h1>{{author.first_name}} {{author.last_name}}</h1>           
            <h3>ID: {{author.id}} </h3>
        </header>
        <main>
            <h4 style="display: inline-block;">Notes: </h4>
            <p style="display: inline-block;">{{author.notes}}</p>
        </main>
        <h4>Books: </h4>
        <ul>
            {% for book in author.author_of_books %} 
                <li> {{book['title']}} </li>
            {% endfor %}
        </ul>
        <form action="/add" method="POST">   
            <input type="hidden" name="add" value="books_by_authors">
            <input type="hidden" name="author_id" value="{{author.id}}">         
            <div class="form-group">              
              <select class="form-control" name="book_by_author" id="exampleFormControlSelect1">
                <option disabled selected value=""> -select a book</option>
                {% for book in books %}
                  <option value="{{book['id']}}">{{book['title']}}</option>
                {% endfor %}                
              </select>
            </div>
            <button type="submit" class="btn btn-primary">Add</button>
        </form>
        <br>
        <a href="/authors"><input type="button" value="Return"></a>
        <br>
        <br>
        <a href="/"><input type="button" value="Add a Book"></a>        
    </div>
</body>
</html>